@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&family=Roboto:wght@300&display=swap');

/* default style */
:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    display: block;
    font-weight: 400;
    font-family: "Overpass", sans-serif;
    color: var(--Medium-Gray);
    text-align: center;
    overflow: hidden;
    background: var(--Very-Dark-Blue);
    color: white;
}

p {
    font-size: 15px;
}

/* page1 */
.wrapper {
    background-color: var(--Dark-Blue);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    border-radius: 20px;
    padding: 20px;
}

.icon {
    margin-top: 30px;
    margin-left: 50px;
    text-align: start;
}

.icon img {
    max-width: 100%;
    height: auto;
}

.text {
    padding: 25px;
    margin: 10px 5%;
    text-align: start;
    line-height: 1.5;
}

.text h3 {
    margin-bottom: 10px
}

.numberContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.numberBtn {
    height: 45px;
    width: 45px;
    border-radius: 45px;
    transition: all 0.3s ease-in;
}

.numberBtn:hover {
    color: var(--White);
    background-color: var(--Orange);
}

.numberBtn:focus {
    background: var(--Light-Grey);
    color: var(--White);
}

.submitBtn {
    font-family: "Overpass", sans-serif;
    color: var(--White);
    background-color: var(--Orange);
    font-weight: 700;
    margin: auto;
    width: 70%;
    height: 40px;
    border-radius: 40px;
    margin: 20px auto;
    transition: all 0.3s ease-in;
}

.submitBtn:hover {
    background-color: var(--White);
    color: var(--Orange);
}

/* page2 */
.page2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    transition: all 700ms ease-in;
    right: 120%;
    transform: translate(200%);
}

.page2.slide {
    transform: translate(-50%, -50%);
}

.page2 img {
    margin: 30px auto;
    width: 40%;
}



.choice {
    margin: 10px auto;
}

.choice p {
    background: var(--Medium-Grey);
    color: var(--Orange);
    border-radius: 10px;
    text-align: center;
    height: 20px;
    padding: 2px 10px;
}

.thankYou {
    margin: 20px 15%;
}